<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="AutoHaHaHa ofera masini la cel mai mic pret. Fiecare masina este verificata.">
        <meta name="keywords" content="vanzare masini, masini noi, masini second-hand, masini in stoc, cumparare masini, vanzare autovehicule, mașini de lux, finantare auto, masini coupe, masini cabrio, masini berlina, masini break, masini hatchback, masini suv, dealer auto, oferte speciale, vinde-ti masini, finantare, contact Autohahaha, bmw, audi, mercedes, dacia, logan, jaguar, passat ">
        <title>Cofetăria Dulcelind - eroare</title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css">
        <%- include("../fragmente/head.ejs");  %> 


    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>