<!DOCTYPE html>
<!-- Comentariu -->
<html lang="ro">
  <head>
    <%- include("../fragmente/head.ejs") %>
    <title>AutoHaHaHa</title>
    <meta
      name="keywords"
      content="vanzare masini, masini noi, masini second-hand, masini in stoc, cumparare masini, vanzare autovehicule, mașini de lux, finantare auto, masini coupe, masini cabrio, masini berlina, masini break, masini hatchback, masini suv, dealer auto, oferte speciale, vinde-ti masini, finantare, contact Autohahaha, bmw, audi, mercedes, dacia, logan, jaguar, passat "
    />
    <meta
      name="description"
      content="AutoHaHaHa ofera masini la cel mai mic pret. Fiecare masina este verificata."
    />
  </head>

  <body>
    <p id="watermark"></p>
    <%- include("../fragmente/header.ejs") %>
    <main>
      <div id="grid-pagina">
        <section id="Acasa">
          <h2>Acasa</h2>
          <%- include("../fragmente/formular-login.ejs") %>
          <%- locals.optiuniMeniu[1].unnest  %>
          <button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button>
          <%- include("../fragmente/useri-online.ejs") %>
          <div id="text">
            " Reflectăm stilul tău "
          <div id="text-reflectat">
            " Reflectăm stilul tău"
          </div>
        </div>
          <p>Ip: <%- locals.ip %></p>
          <hr>
          <p class="intro" style="color: orange; text-decoration: underline">
            Bine ați venit la <b>AutoHaHaHa</b>! Aici găsiți cele mai bune
            oferte pentru mașini noi și second-hand. Explorează gama noastră
            variată și contactează-ne pentru a afla cum te putem ajuta să îți
            găsești mașina perfectă.
          </p>
            <div id="container-video">
              <div id="centrare-video">
                  <div id="clip-video">
                    <div id="stil-video">
                      <video width="480" height="270"  playsinline controls autoplay loop muted preload="auto">
                          <source src="resurse/video/Intro.mp4" type="video/mp4">
                          <source src="resurse/video/Intro.ogv" type="video/ogv">
                          <track default src="resurse/video/tracks/lamborghini.vtt" kind="captions" srclang="ro" label="romana">
                          <track src="resurse/video/tracks/lamborghini-en.vtt" kind="captions" srclang="en" label="engleza">
                      </video>
                  </div>
                  </div>
              </div>
          </div>
          <!-- <a href="#" title="mergi sus" id="link-top"
            ><div id="triunghi"></div>
            ></a
          > -->
          <img src="./resurse/imagini/Ferrari.jpg" alt="imagine ferrari" />
          <figure>
            <picture>
              <source
                srcset="./resurse/imagini/Lamborghini.jpg"
                media="(max-width:700px)"
              />
              <source
                srcset="./resurse/imagini/Bentley.jpg"
                media="(max-width:1200px)"
              />
              <img
                src="resurse/imagini/Bugatti.jpg"
                alt="text"
                title="Masini"
              />
            </picture>
            <figcaption>Masini</figcaption>
          </figure>
          <h3>Anunturi</h3>
          <p>Avem o super-oferta speciala pentru tine!</p>
          <p>
            Cumpara acum o masina de minim <s>15000</s> <ins>10000</ins> de
            euro, iar noi iti oferim 5% reducere
          </p>
          <p>Profită acum de această reducere incredibilă!</p>
          <details>
            <summary>
              Care sunt opțiunile de finanțare disponibile pentru achiziționarea
              unei mașini?
            </summary>
            Leasing auto si credit auto
          </details>
          <details>
            <summary>
              Oferiți evaluare gratuită pentru mașinile pe care clienții doresc
              să le vândă?
            </summary>
            Da
          </details>
          <details>
            <summary>
              Care sunt criteriile de eligibilitate pentru obținerea unui
              împrumut sau leasing auto??
            </summary>
            Minim 18 ani
          </details>
        </section>
        <section id="Masini-in-stoc">
          <h2>Masini in stoc</h2>
          <section>
            <h3>Cum sa iti alegi masina?</h3>
            <div class="container-iframe">
              <div class="taburi-iframe">
                <a
                  href="https://www.youtube.com/embed/9JHHke0fnNg?si=Dc1oz-MLVx3B1jXh"
                  target="ifr-video"
                  ><i class="fa-solid fa-arrow-pointer fa-flip-horizontal"></i
                ></a>
                <a
                  href="https://www.youtube.com/embed/F_hSqvcSs50?si=NyFRlP-DobjkBCBB"
                  target="ifr-video"
                  ><i class="fa-solid fa-arrow-up"></i
                ></a>
                <a
                  href="https://www.youtube.com/embed/8x5W3XqKfVA?si=1uePuSqCWZq7_6e3"
                  target="ifr-video"
                  ><i class="fa-solid fa-arrow-pointer"></i
                ></a>
              </div>

              <iframe
                name="ifr-video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/9JHHke0fnNg?si=DBBDHbqwRSmXx0Dc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </section>
          <section>
            <h3>Coupe</h3>
          </section>
          <section>
            <h3>Cabrio</h3>
          </section>
          <section>
            <h3>Berlina</h3>
          </section>
          <section>
            <h3>Break</h3>
          </section>
          <section>
            <h3>Hatchback</h3>
          </section>
          <section>
            <h3>SUV</h3>
          </section>
          <section>
            <h3>Electrica</h3>
          </section>
        </section>
        <section id="Vinde-ti-masina">
          <h2>Vinde-ti masina</h2>
        </section>
        <section id="Finantare">
          <h2>Finantare</h2>
          <section>
            <h3>Leasing Auto</h3>
            <p>
              <b>Leasingul auto</b> oferă posibilitatea de a utiliza o mașină
              fără a o cumpăra direct. Plătiți o sumă lunară pentru a folosi
              mașina pentru o perioadă fixă, având opțiunea de a o cumpăra la
              sfârșitul contractului.
            </p>
          </section>
          <section>
            <h3>Credit Auto</h3>
            <p>
              Prin <b>creditul auto</b>, puteți achiziționa o mașină cu un
              împrumut de la o instituție financiară. Plătiți înapoi împrumutul
              în rate lunare, devenind proprietarul deplin al mașinii după
              achiziție.
            </p>
          </section>
          <section id="Formula">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mrow>
                <mi>Rata de leasing</mi>
                <mo>=</mo>
                <mfrac>
                  <mrow>
                    <mi>Pretul masinii</mi>
                    <mo>-</mo>
                    <mi>Avans</mi>
                  </mrow>
                  <mrow>
                    <mn>Nr luni</mn>
                  </mrow>
                </mfrac>
              </mrow>
            </math>
          </section>
        </section>
        <section id="Contact">
          <h2>Contact</h2>
          <p>
            <q
              >O mașină nouă este ca un nou anotimp: te face să uiți de
              restul</q
            >
          </p>
        </section>
        <!-- ------------------------------------ -->
        <section id="Tabel">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
            tenetur enim corrupti rem fugit quaerat placeat distinctio eius? At
            ullam, adipisci debitis atque ab cumque expedita aperiam repellendus
            numquam sed.
          </p>
          <div id="container-tab-orar">
            <table id="tab-orar">
              <caption style="caption-side: bottom">
                Ore de lucru
              </caption>
              <thead>
                <tr>
                  <th>Cod</th>
                  <th>Perioadă</th>
                  <th>Zi</th>
                  <th>Interval dimineata</th>
                  <th>Pauza de masa</th>
                  <th>Interval seară</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td rowspan="5">Zile<br />Lucrătoare</td>
                  <td>Luni</td>
                  <td>10-12</td>
                  <td>12-14</td>
                  <td>14-20</td>
                </tr>
                <tr>
                  <td></td>

                  <td>Marti</td>
                  <td>9-12</td>
                  <td>12-14</td>
                  <td>14-21</td>
                </tr>
                <tr>
                  <td></td>

                  <td>Miercuri</td>
                  <td>9-11</td>
                  <td>11-13</td>
                  <td>14-21</td>
                </tr>
                <tr>
                  <td></td>

                  <td>Joi</td>
                  <td>9-11</td>
                  <td>11-13</td>
                  <td>14-21</td>
                </tr>
                <tr>
                  <td></td>

                  <td>Vineri</td>
                  <td>9-12</td>
                  <td>12-14</td>
                  <td>14-19</td>
                </tr>
                <tr>
                  <td></td>
                  <td rowspan="2">Weekend</td>
                  <td>Sambata</td>
                  <td>10-12</td>
                  <td>12-13</td>
                  <td>13-16</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Duminica</td>
                  <td>10-14</td>
                  <td>-</td>
                  <td>inchis</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6">
                    Închis cu ocazia sărbătorilor legale sau când ne e mai lene
                    așa.
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
        <section id="Calendar">
          <p>
            <div class="container-calendar">
              <%- include("../fragmente/evenimente.ejs") %>
            </div>
          </p>
        </section>
        <section id="Anunturi">
          <p>
            <section id="galerie-statica">
              <h2>Galerie</h2>
              <div id="grid-galerie">

                <% var d = new Date(); 
                var oraCurenta = d.getHours(); %> 
             <% for (let imag of locals.imagini) { %> 
               <% if ((oraCurenta >= 5 && oraCurenta < 12 && imag.timp === "dimineata") || 
                       (oraCurenta >= 12 && oraCurenta < 20 && imag.timp === "zi") || 
                       (oraCurenta >= 20 || oraCurenta < 5 && imag.timp === "noapte")) { %>
                 <figure>
                   <picture>
                     <source srcset="<%= imag.fisier_mediu %>" media="(max-width: 1200px)" />
                     <img src="<%= imag.fisier %>" alt="<%= imag.nume %>" />
                   </picture>
                   <figcaption><%= imag.nume %></figcaption>
                   <figcaption><%= imag.descriere %></figcaption>
                 </figure>
               <% } %> 
             <% } %> 
              
              </div>
            </section>
          </p>
        </section>
        <section id="Utilizatori">
          <p>
            <%- include("../fragmente/locatie.ejs") %>
            <%- include("../fragmente/ora-server-client.ejs") %>
          </p>
        </section>
        <section id="Statistici">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            quisquam quasi, cupiditate ea commodi tempore in eveniet ipsa sequi
            minima minus sunt quae nostrum consectetur laborum dicta. Debitis,
            quia neque!
          </p>
        </section>
        <section id="Site">
          <p>
          </p>
        </section>

        <!-- ------------------------------------ -->
      </div>
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
