<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="AutoHaHaHa ofera masini la cel mai mic pret. Fiecare masina este verificata.">
        <meta name="keywords" content="vanzare masini, masini noi, masini second-hand, masini in stoc, cumparare masini, vanzare autovehicule, mașini de lux, finantare auto, masini coupe, masini cabrio, masini berlina, masini break, masini hatchback, masini suv, dealer auto, oferte speciale, vinde-ti masini, finantare, contact Autohahaha, bmw, audi, mercedes, dacia, logan, jaguar, passat">
        
        <title>AutoHaHaHa - home</title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Dotari: <span class="dotari"><%- locals.prod.dotari %> </span></p>
                    <p>Kilometraj: <span class="kilometraj"><%- locals.prod.kilometraj %> </span></p>
                    <p>Putere motor: <span class="putere_motor"><%- locals.prod.putere_motor %> </span></p>
                    <p>Tip: <span class="tip"><%- locals.prod.tip %> </span></p>
                    <p>Masina noua: <span class="masina_noua"><%- locals.prod.masina_noua %> </span></p>
                    <p>Data adăugare: <span class="data_adaugare"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>