<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="AutoHaHaHa ofera masini la cel mai mic pret. Fiecare masina este verificata.">
        <meta name="keywords" content="vanzare masini, masini noi, masini second-hand, masini in stoc, cumparare masini, vanzare autovehicule, mașini de lux, finantare auto, masini coupe, masini cabrio, masini berlina, masini break, masini hatchback, masini suv, dealer auto, oferte speciale, vinde-ti masini, finantare, contact Autohahaha, bmw, audi, mercedes, dacia, logan, jaguar, passat">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>AutoHaHaHa - home</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <label> Nume: <input type="text" id="inp-nume"></label>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        <div> Kilometraj:
            <p><label>Sub 10,000 km
                <input id="i_rad1" name="gr_rad" value="0:10000" type="radio"/>
            </label></p>
            <p><label>10,000 - 50,000 km
                <input id="i_rad2" name="gr_rad" value="10000:50000" type="radio"/>
            </label></p>
            <p><label>Peste 50,000 km
                <input id="i_rad3" name="gr_rad" value="50000:1000000000" type="radio"/>
            </label></p>
            <p><label>Toate
                <input id="i_rad4" checked name="gr_rad " value="toate" type="radio"/>
            </label></p>
        </div>

            
        </div>


        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="999999"> <span id="infoRange">(0)</span></label>
        <label>Select simplu:
             <select id="inp-firma"> <!-- aici trebuia modificat din categorie in tip? -->
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
        <p>
        <button id="filtrare">Filtreaza</button> 

        <button id="resetare">Reseteaza</button><br/>
        <button id="sortCrescNume">Sorteaza crescator dupa pret si nume</button>
        <button id="sortDescrescNume">Sorteaza descrescator dupa pret si nume</button>
        
        </p>
        
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="kilometraj">Kilometraj: <span class="val-kilometraj"><%- prod.kilometraj%></span></p>
                            <p class="putere_motor">Putere motor: <span class="val-putere_motor"><%- prod.putere_motor%></span></p>
                        </div>
                        <p class="firma">Firma:<span class="val-firma"><%- prod.firma%></span></p>
                        <figure>
                            <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                        </figure>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>